@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
}

.custom-container {
    @apply px-4 sm:px-8 md:px-16 lg:px-24 xl:px-32;
}

.title {
    @apply text-3xl sm:text-4xl md:text-5xl xl:text-6xl;
}

.heading-1 {
    @apply text-2xl sm:text-3xl md:text-4xl xl:text-5xl;
}

.heading-2 {
    @apply text-xl sm:text-2xl md:text-3xl xl:text-4xl;
}

.heading-3 {
    @apply text-lg sm:text-xl md:text-2xl xl:text-3xl;
}

.heading-4 {
    @apply text-base sm:text-lg md:text-xl xl:text-2xl;
}

.heading-5 {
    @apply text-xs sm:text-base md:text-lg xl:text-xl;
}

.paragraph {
    @apply text-xs sm:text-sm md:text-base xl:text-lg;
}

.paragraph1 {
    @apply text-[8px] sm:text-xs md:text-sm xl:text-lg;
}

.animated-section {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
  }
  
  .animated-section.animate {
    opacity: 1;
    transform: translateX(0);
  }
  
  
